{:paths ["src/main" "resources"]
 :deps {org.clojure/clojure        {:mvn/version "1.11.1"}

        ;; ring essential functions for handling parameters, cookies and more
        ring/ring             {:mvn/version "1.9.6"}
        ;; handling http statuses
        metosin/ring-http-response {:mvn/version "0.9.3"}
        ;; routing core
        metosin/reitit-core        {:mvn/version "0.6.0"}
        ;; reitit ring router
        metosin/reitit-ring        {:mvn/version "0.6.0"}
        ;; common reitit middleware (params, exceptions, negotiation)
        metosin/reitit-middleware  {:mvn/version "0.6.0"}
        ;; reitit malli coercion
        metosin/reitit-malli       {:mvn/version "0.6.0"}
        ;; Data-driven Schemas for Clojure/Script
        metosin/malli              {:mvn/version "0.11.0"}
        ;; transformation tools
        meander/epsilon            {:mvn/version "0.0.650"}
        ;; http format negotiation
        metosin/muuntaja           {:mvn/version "0.6.8"}
        ;; Representing html in clojure
        hiccup/hiccup              {:mvn/version "1.0.5"}}

 :aliases
 {:env/dev {:extra-paths ["src/dev"]
        :extra-deps {com.clojure-goes-fast/clj-java-decompiler {:mvn/version "0.3.4"}
                     criterium/criterium                       {:mvn/version "0.4.6"}}}

  :env/test {:extra-paths ["src/test"]}}}
